<h1>{{title}}</h1>
<form id="addEquipment" action="/equipmentTable" method="post">
	<table>
		<tbody>
			<tr>
				<td class="formCell formLabel"><label for="name">Name: </label></td>
				<td class="formCell"><input type="text" class="resettableInput" id="name" name="name"></td>
				<td class="formCell"></td>
			</tr>
			<tr>		
				<td class="formCell formLabel"><label for="building">Building: </label></td>
				<td class="formCell">
					<select class="resettableSelector" id="building" name="building">
					<option value="all">*</option>
					<option value="null">null</option>
					{{#each buildings}}
						<option value="{{id}}">{{id}}</option>
					{{/each}}
					</select>
				</td>
				<td class="formCell"></td>
			</tr>
			<tr>
				<td class="formCell formLabel"><label for="doa">Date of Aquisition: </label></td>
				<td class="formCell"><input type="text" class="resettableInput date" id="doa" name="doa"></td>
				<td class="formCell"><span class="labelText"><em>Please enter date in YYYY-MM-DD Format!</em></span></td>
			</tr>
			<tr>
				<td class="formCell formLabel"><label for="last_maintenance">Last Maintenence: </label></td>
				<td class="formCell"><input type="text" class="resettableInput date" id="last_maintenance" name="last_maintenance"></td>
				<td class="formCell"><span class="labelText"><em>Please enter date in YYYY-MM-DD Format!</em></span></td>
			</tr>
			<tr>		
				<td class="formCell formLabel"><label for="employee_steward">Employee Steward: </label></td>
				<td class="formCell">
					<select class="resettableSelector" id="employee_steward" name="employee_steward">
					<option value="all">*</option>
					<option value="null">null</option>
					{{#each employees}}
						<option value="{{id}}">{{first_name}} {{last_name}}</option>
					{{/each}}
					</select>
				</td>
				<td class="formCell"></td>
			</tr>
			
		</tbody>	
	</table>
	<input id="Add Instance" value="Add Instance" type="submit">
	<input type="hidden" id="~filterCriteriaChangedFlag" value="false" name="~filterCriteriaChangedFlag">
	<input id="Filter Table" value="Filter Table" type="submit">
	<span class="labelText"><em>Use the form fields above to add to or filter the table.</em></span>
	<input class= "reset" id="reset" type="submit" name="reset" value="Reset Form">
	<div class="instructions">When adding, enter <b>null</b> into input fields or leave them blank for a null entry.<br /> 
		When filtering, enter <b>null</b> into an input field to filter on 'IS NULL', or leave it blank to omit the filter.<br />
		<br />
		<em>Warning: If you enter a date in the valid format but with values that do not make an actual date,<br />
		&emsp;&emsp;&emsp;&emsp;(e.g. 2018-99-99) a value of '0000-00-00' will be entered into the table for that date<br />
		&emsp;&emsp;&emsp;&emsp;field's attribute.</em>
	</div>
</form>
<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Building</th>
		<th>Date of Aquisition</th>
		<th>Last Maintenence</th>
		<th>Employee Steward</th>
	</thead>
	<tbody>
		{{#each equipments}}
		<tr>
			<td>{{id}}</td>
			<td>{{name}}</td>
			<td class="alignCellContentCenter">{{building}}</td>
			<td class="alignCellContentCenter">{{doa}}</td>
			<td class="alignCellContentCenter">{{last_maintenance}}</td>
			<td class="alignCellContentCenter">{{employee_steward}}</td>
			<td class="deleteButton"><button onclick="deleteRow({{id}}, 'equipment')">Delete</button></td>
			<td class="updateLink"><a href="/equipmentTable/{{id}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<form action="/equipmentTable" method="post">
	<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
</form>
{{#each jsscriptsTableView}}
	<script src="{{this}}"></script>
{{/each}}
{{#each formFill}}
	<script defer>formFill("{{this.key}}", "{{this.value}}");</script>
	<input class="filterCriteriaCache" type="hidden" id="{{this.key}}FilterCriteriaCache" value="{{this.value}}">
{{/each}}
<script defer>sendParameterAddOrFilter();</script>
<script defer>criteriaChangedStatus();</script>
<script defer>dateInputValidator();</script>
<script defer>resetForm();</script>