<h1>{{title}}</h1>
<form id="addBuilding" action="/buildingTable" method="post">
	<table>
		<tr>
			<td class="formCell"><label for="name">Name: </label></td>
			<td class="formCell"><input type="text" class="resettableInput" id="name" name="name"></td>
			<td class="formCell"></td>
		</tr>
		<tr>
			<td class="formCell"><label for="year_built">Year Built: </label></td>
			<td class="formCell"><input type="text" class="resettableInput numeric" id="year_built" name="year_built"></td>
			<td class="formCell"><span class="labelText"><em>Year Built must be an integer greater than or equal to 0.</em></span></td>
		</tr>
	</table>
	<input id="Add Instance" value="Add Instance" type="submit"></td>
	<input type="hidden" id="~filterCriteriaChangedFlag" value="false" name="~filterCriteriaChangedFlag">
	<input id="Filter Table" value="Filter Table" type="submit">
	<span class="labelText"><em>Use the form fields above to add to or filter the table.</em></span>
	<input class= "reset" id="reset" type="submit" name="reset" value="Reset Form">
	<div class="instructions">When adding, enter <b>null</b> into input fields or leave them blank for a null entry.<br /> 
		When filtering, enter <b>null</b> into an input field to filter on 'IS NULL', or leave it blank to omit the filter.</div>
</form>
<table>
	<thead>
		<th>ID</td>
		<th>Name</th>
		<th>Year Built</th>
	</thead>
	<tbody>
		{{#each buildings}}
		<tr>
			<td>{{id}}</td>
			<td class="alignCellContentCenter">{{name}}</td>
			<td class="alignCellContentCenter">{{year_built}}</td>
			<td class="deleteButton"><button onclick="deleteRow({{id}}, 'building')">Delete</button></td>
			<td class="updateLink"><a href="/buildingTable/{{id}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>	
	
<form action="/buildingTable" method="post">
	<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
</form>
{{#each jsscriptsTableView}}
	<script src="{{this}}"></script>
{{/each}}
{{#each formFill}}
	<script defer>formFill("{{this.key}}", "{{this.value}}");</script>
	<input class="filterCriteriaCache" type="hidden" id="{{this.key}}FilterCriteriaCache" value="{{this.value}}">
{{/each}}
<script defer>sendParameterAddOrFilter();</script>
<script defer>criteriaChangedStatus();</script>
<script defer>resetForm();</script>
<script defer>numericInputValidator();</script>